<%= render "shared/second_header" %>

<div class="field">
  <div class="sign-up-page">
    <div class="page-title">
      <h1>新規登録</h1>
    </div>

    <%= form_with model: @user, url: user_registration_path, class: "user-form", local: true do |f| %>
      <%# <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <div class="label-part">
          <%= f.label "■ ニックネーム", class: "label-name" %><br />
          <span class="required">必須</span>
        </div>
        <%= f.text_field :name, class: "users-text", autofocus: true, maxlength: 20 %>
      </div>

      <div class="form-group">
        <div class="label-part">
          <%= f.label "■ メールアドレス", class: "label-name" %><br />
          <span class="required">必須</span>
        </div>
        <%= f.email_field :email, class: "users-text", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="gender-field">
        <div class="label-part">
          <%= f.label "■ 性別", class: "label-name" %><br />
          <span class="required">必須</span>
        </div>
        <div class="gender-man">
          <%= f.label "男" %>
          <%= f.radio_button :gender, :man %>
        </div>
        <div class="gender-womn">
          <%= f.label "女" %>
          <%= f.radio_button :gender, :woman %>
        </div>
      </div>

      <div class="form-group">
        <div class="label-part">
          <%= f.label "■パスワード", class: "label-name" %><br />
          <span class="required">必須</span>
        </div>
        <%= f.password_field :password, class: "users-text", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <div class="label-part">
          <%= f.label "■ パスワード（確認）", class: "label-name" %><br />
          <span class="required">必須</span>
        </div>
        <%= f.password_field :password_confirmation, class: "users-text", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label "■ 自己紹介文", class: "profile-label" %>
        <%= f.text_area :profile, class: "profile" %>
      </div>

      <div class="actions">
        <%= f.submit "アカウント登録", class: "u_form_btn" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>
