<div class="overall">
  <%= render "shared/header" %>

  <div class="user-form-main">
    <div class="sign-up-page">
      <h1 class="page-title">新規登録</h1>

      <%= form_with model: @user, url: user_registration_path, class: "user-form", local: true do |f| %>
        <%# <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class="label-part">
            <%= f.label :name, "■ ニックネーム", class: "label-name" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.text_field :name, class: "users-text", placeholder: "例）山田 太郎", autofocus: true %>
        </div>

        <div class="form-group">
          <div class="label-part">
            <%= f.label :email, "■ メールアドレス", class: "label-name" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.email_field :email, class: "users-text", placeholder: "例）email@com", autocomplete: "email" %>
        </div>

        <div class="gender-field">
          <div class="label-part">
            <span class="gender-name">■ 性別</span><br />
            <span class="required">必須</span>
          </div>
          <div class="gender-man">
            <%= f.radio_button :gender, :man %>
            <%= f.label :gender, "男性", {value: :man} %>
          </div>
          <div class="gender-womn">
            <%= f.radio_button :gender, :woman %>
            <%= f.label :gender, "女性", {value: :woman} %>
          </div>
        </div>

        <div class="form-group">
          <div class="label-part">
            <%= f.label :password, "■ パスワード", class: "label-name" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.password_field :password, class: "users-text", placeholder: "半角英数字6文字以上", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <div class="label-part">
            <%= f.label :password_confirmation, "■ パスワード（確認）", class: "label-name" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.password_field :password_confirmation, class: "users-text", placeholder: "パスワードをもう１度入力", autocomplete: "off" %>
        </div>

        <div class="form-group">
          <%= f.label "■ プロフィール", class: "profile-label" %>
          <%= f.text_area :profile, class: "profile", placeholder: "自由にご記入ください（最大255文字）" %>
        </div>

        <div class="actions">
          <%= f.submit "アカウント登録", class: "u_form_btn" %>
        </div>
      <% end %>

      <div class="actions">
        <%= link_to root_path do %>
          <button class="back-btn">戻る <i class="fas fa-undo-alt"></i></button>
        <% end %>
      </div>
      
    </div>
  </div>
  
  <%= render "shared/footer" %>
</div>