<div class="overall">
  <div class="main">

    <%# CSSは app/assets/stylesheets/shared/side_bar.cssに記載 %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="my-side-bar">
        <div class="side-header">
          <%= link_to image_tag("FLRP_S.png", class: "flrps-icon"), "/" %>
        </div>
        <div class="side-box">

          <div class="user-nav-top">
            <h4><i class="far fa-id-badge"></i></h4>
            <h4 class="user-nav-name"><%= current_user.name %></h4>
          </div>

          <div class="user-nav">
            <div class="user-nav-lists">
              <%= link_to new_post_path do %>
                <button class="new-post-btn">投稿する <i class="fas fa-pen"></i></button>
              <% end %>
            </div>
          </div>

          <%= search_form_for @q, url: user_path, id: "my-search-form" do |f| %>
            <div class="search-nav">
              <div  class="search-nav-top">
                <h4 class="search-nav-name"><i class="fas fa-search"></i> マイページ内 絞り込み</h4>

                  <button type="button" class="search-reset-btn" id="reset-btn">リセット
                    <span class="reset-mark"><i class="fas fa-redo-alt"></i></span>
                  </button>

              </div>

              <div class="search-nav-main">
                <div class="search-content">
                  <%= f.label "来店日", class: "search-label" %>
                </div>
                <div class="select-box">
                  <%= f.date_field :visit_gteq, include_blank: true, class:"search-select-3", id: "search-input" %> 〜
                  <%= f.date_field :visit_lteq, include_blank: true, class:"search-select-3", id: "search-input" %>
                </div>
                <div class="search-content">
                  <%= f.label "シチュエーション", class: "search-label" %>
                </div>
                <div class="select-box">
                  <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: '指定なし'}, {class:"search-select-1", id:"search-select"}) %>
                </div>
                <div class="search-content">
                  <%= f.label "都道府県", class: "search-label" %>
                </div>
                <div class="select-box">
                  <%= f.collection_select(:prefecture_id_eq, Prefecture.all, :id, :name, {include_blank: '指定なし'}, {class:"search-select-1", id:"search-select"}) %>
                </div>
                <div class="search-content">
                  <%= f.label "個室／貸切", class: "search-label" %>
                </div>
                <div class="select-box">
                  <%= f.collection_select(:compartment_id_eq, Compartment.all, :id, :name, {include_blank: '指定なし'}, {class:"search-select-2", id:"search-select"}) %>
                  <%= f.collection_select(:reserved_id_eq, Reserved.all, :id, :name, {include_blank: '指定なし'}, {class:"search-select-2", id:"search-select"}) %>
                </div>
                <div class="search-content">
                  <%= f.label "予算", class: "search-label" %>
                </div>
                <div class="select-box">
                  <%= f.collection_select(:budget_id_eq, Budget.all, :id, :name, {include_blank: '指定なし'}, {class:"search-select-1", id:"search-select"}) %>
                </div>
              </div>

              <div class="search-act">
                <%= f.submit "検索", class: "search-btn", id: "search-btn" %>
              </div>
            </div>
          <% end %>

          <div class="sign-out-action">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <button class="sign-out-btn">ログアウトする <i class="fas fa-sign-out-alt"></i></button>
            <% end%>
          </div>

        </div>
      </div>
      <%# /CSSは app/assets/stylesheets/shared/side_bar.cssに記載 %>

    <% else %>
      <div class="side-bar">
        <%= render partial: "shared/side_bar", locals: { post: @posts } %>
      </div>
    <% end %>
    
    <%# user-show-メイン %>
    <div class="user-show-contents">
      <div class="user-show-field">
        <div class="user-show-field-upper">
          <div class="user-name">
            <i class="fas fa-user-circle"></i> <%= @user.name%>
          </div>
          <div class="user-gender">
            <% if @user.gender == "man" %>
              <i class="fas fa-male"></i> 男性
            <% else %>
              <i class="fas fa-female"></i> 女性
            <% end%>
          </div>
          <% if user_signed_in? && current_user.id == @user.id %>
            <div class="user-edit">
              <%= link_to edit_user_registration_path(current_user.id) do %>
                <button class="u-edit-btn">編集 <i class="fas fa-pen"></i></button>
              <% end %>
            </div>
          <% end %>
        </div>
        <span class="user-profile">プロフィール：</span>
        <span class="profile-contents"><%= @user.profile %></span>
      </div>

      <% if @posts.any? %>
        <div class="posts">
          <% @posts.each do |post| %>
            <%= render partial: "posts/posts", locals: { post: post } %>
          <% end %>
        </div>

      <% else %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <h1 class="no-contents-text">該当する投稿はありません</h1><br />
        <% else %>
          <h1 class="no-contents-text">まだ投稿はありません</h1><br />
        <% end %>

      <% end %>
        
      <%= paginate @posts, :window => 2 %>

      <%# CSSは assets/stylesheets/posts/index.scss に記載 %>
      <%= link_to root_path do %>
        <button class="back-btn">トップに戻る <i class="fas fa-undo-alt"></i></button>
      <% end %>
    </div>

  </div>
  <%# /user-show-メイン %>

  <%= render "shared/footer" %>
</div>
