<header class="main-header">
  <div class="nav">
    <div class="nav-left">
      <%= link_to image_tag("FLRP_S.png", class: "flrps-icon"), "/" %>
    </div>
    <div class="nav-center">
      <% if user_signed_in? %>
        <p>
          <%= link_to current_user.name, user_path(current_user.id), class: "nav-name" %>
        </p>
      <% end %>
    </div>
    <div class="nav-right">
      <ul class='header-lists'>
        <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-btn" %></li>
          <li><%= link_to '新規投稿', new_post_path, class: "new-post" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav-btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "nav-btn" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>