<div class="overall">
  <%= render "shared/header" %>

  <div class="user-form-main">
    <div class="sign-in-page">
      <div class="page-title">
        <h1>ログイン</h1>
      </div>

      <%= form_with model: @user, url: user_session_path, class: "login-form", local: true do |f| %>
        <i><div class="login-flash-message">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
        </div></i>

        <div class="form-group-l">
          <div class="label-name-l">
            <%= f.label "メールアドレス" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.email_field :email, class: "login-text", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group-l">
          <div class="label-name-l">
            <%= f.label "パスワード" %><br />
            <span class="required">必須</span>
          </div>
          <%= f.password_field :password, class: "login-text", autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: "i_form_btn" %>
        </div>
      <% end %>

      <div class="actions">
        <%= link_to root_path do %>
          <button class="form-back-btn">戻る <i class="fas fa-undo-alt"></i></button>
        <% end %>
      </div>

    </div>

  </div>
  <%= render "shared/footer" %>
</div>