<div class="post-list">

    <%= link_to image_tag(post.image.variant(resize: '500x500')), post_path(post.id) %>
    <p>来店日     <%= post.visit %></p>
    <p> <%= post.restaurant %></p>
    <p>カテゴリー <%= post.category.name %></p>
    <p>予算      <%= post.budget.name %></p>
    <p>投稿者 <%= link_to post.user.name, user_path(post.user.id) %></p>

</div>