<div class="overall">
<%= render "shared/header" %>

  <div class="index-page">
    <div class="search">
      <%= search_form_for @q, id: "search-form" do |f| %>
        <%= f.label :category_id_eq, "絞り込み" %>
        <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {prompt: 'シチュエーション'}, {id:"search-content"}) %>
        <%= f.label "個室／貸切" %>
        <%= f.collection_select(:compartment_id_eq, Compartment.all, :id, :name, {prompt: '指定なし'}, {id:"search-content"}) %>
        <%= f.collection_select(:reserved_id_eq, Reserved.all, :id, :name, {prompt: '指定なし'}, {id:"search-content"}) %>
        <%= f.collection_select(:budget_id_eq, Budget.all, :id, :name, {prompt: '予算'}, {id:"search-content"}) %>
        <%= f.submit "検索", id: "search-btn" %>
      <% end %>
    </div>

    <div class="posts">
      <% @posts.each do |post| %>
        <%= render partial: "posts", locals: { post: post } %>
      <% end %>
    </div>

  </div>

<%= render "shared/footer" %>
</div>
