<%= render "shared/header" %>

<div class="overall">

  <div class="index-page">
    <%# <%= render "shared/left_side" %>
    <ul class="posts">

      <li class="post-list">
        <% @posts.each do |post| %>
        
          <%= link_to image_tag(post.image.variant(resize: '500x500')), "#" %>
          <p>来店日     <%= post.visit %></p>
          <p> <%= post.restaurant %></p>
          <p>カテゴリー <%= post.category.name %></p>
          <p>予算      <%= post.budget.name %></p>
          <p>投稿者 <%= post.user.name %></p>
        
        <% end %>
      </li>
    </ul>
    <%# <%= render "shared/right_side" %>
  </div>

<%= render "shared/footer" %>
</div>
