<%= render "shared/header" %>

<div class="overall">

  <div class="post-show-page">
    <div class="post-show">
      <%= image_tag @post.image.variant(resize: '500x500') %>
      <p>来店日<%= @post.visit %></p>
      <p>店名<%= @post.restaurant %></p>
      <p>カテゴリー
        <%= @post.category.name %>
        <%= @post.compartment.name %>
        <%= @post.reserved.name %>
      </p>
      <p>営業時間
        <%= @post.open %>
        <%= @post.close %>
      </p>
      <p>住所<%= @post.address %></p>
      <p>予算<%= @post.budget.name %></p>
      <p>おすすめポイント／感想<%= @post.introduction %></p>
      <p>投稿者<%= @post.user.name %></p>
    </div>
  </div>

<%= render "shared/footer" %>
</div>