<div class="overall">
  <%= render "shared/header" %>

  <div class="main">
    <div class="post-show-contents">
      <h2><i class="fas fa-home"></i> <%= @post.restaurant %></h2>
      <h3><i class="fas fa-pen"></i> <%= link_to @post.user.name, user_path(@post.user.id), class: "show-user-name" %></h3>
    </div>

    <div class="post-show">

      <%= image_tag @post.image, class: "show-image" %>
      <% if user_signed_in? && current_user.id == @post.user.id %>
        <%= link_to "編集", edit_post_path(@post.id) %>
        <%= link_to "削除", post_path(@post.id), method: :delete %>
      <% end %>
      <div class="show-info">
        <ul class="show-list-upper">
          <li><i class="fas fa-running"></i>　 来店日<%= @post.visit %></li>
          <li class="show-list-content"><i class="fas fa-home"></i>　<%= @post.restaurant %></li>
          <li class="show-list-content">
            <i class="fas fa-map-marker-alt"></i>　
            <%= @post.prefecture.name %> <%= @post.city %> <%= @post.address %><%= @post.buiding %>
          </li>
          <li class="show-list-content"><i class="far fa-bookmark"></i>　
            <%= @post.category.name %>[ <%= @post.compartment.name %>,<%= @post.reserved.name %> ]
          </li>
          <li class="show-list-content"><i class="far fa-clock"></i>　<%= @post.open %>〜<%= @post.close %></li>
        </ul>
        <ul class="show-list-lower">
          <li><i class="fas fa-coins"></i>　<%= @post.budget.name %></li>
          <li class="show-list-user-icon"><i class="far fa-user"></i>
            <%= link_to @post.user.name, user_path(@post.user.id), class: "show-list-user-name" %>
          </li>
        </ul>
        <% if @post.introduction.present? %>
          <div class="post-intro">
            <span><i class="fas fa-lightbulb"></i>　おすすめポイント／感想</span>
            <span class="introduction"><%= @post.introduction %></span>
          </div>
        <% end %>

      </div>

      <div class="comment-field">

        <%= form_with model: [@post, @comment], local: true do |f| %>
          <%= f.text_area :text %>
          <%= f.submit "コメントする" %>
        <% end %>

        <div class="comments">
          <% @comments.each do |comment| %>
            <p>
              <%= comment.text %>
              <span><%= comment.user.name %></span>
            </p>
          <% end %>
        </div>

      </div>

    </div>

    <%# CSSは apps/assets/stylesheets/posts/index.scss に記載 %>
    <%= link_to  root_path do %>
      <button class="back-btn">一覧に戻る <i class="fas fa-undo-alt"></i></button>
    <% end %>
    <%# //CSSは apps/assets/stylesheets/posts/index.scss に記載 %>

  </div>

  <%= render "shared/footer" %>
</div>