<%= render "shared/header" %>

<div class="overall">

  <div class="post-show-page">
    <div class="post-show-contents">
      <h1><%= @post.restaurant %> の詳細</h1>
      <p>by <%= @post.user.name %></p>

      <div class="post-show">
        <h1><%= image_tag @post.image.variant(resize: '500x500') %></h1>
        <% if user_signed_in? && current_user.id %>
          <%= link_to "編集", edit_post_path(@post.id) %>
          <%= link_to "削除", post_path(@post.id), method: :delete %>
        <% end %>
        <p>来店日<%= @post.visit %></p>
        <p>店名<%= @post.restaurant %></p>
        <p>カテゴリー
          <%= @post.category.name %>
          <%= @post.compartment.name %>
          <%= @post.reserved.name %>
        </p>
        <p>営業時間
          <%= @post.open %>
          <%= @post.close %>
        </p>
        <p>住所<%= @post.address %></p>
        <p>予算<%= @post.budget.name %></p>
        <p>おすすめポイント／感想<%= @post.introduction %></p>
        <p>投稿者<%= @post.user.name %></p>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>
</div>